<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            overflow:hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
        }

        .header a {
            display: flex;
            float: right;
            color: black;
            text-align:center;
            padding:12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
            justify-content: space-around;
        }
    </style>
</head>
<body>

    <div class="header">

        <div class="header-right">
            
          <a class="home" href="#home">Accueil</a>
          <a href="#contact">Contact</a>
          <a href="#apropos">A propos</a>

        </div>

        
    </div>
      

</body>
</html>